:root {
    --primary-color: #FF0000;
    --background-color: black;
    --secon-color: #9da2ad;
    --grey: #7a7a7b;
    --white: darkgrey;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: unset;
    text-decoration: none;
}

body,
html {
    background-color: var(--background-color);
    scroll-behavior: smooth;
    position: relative;
    overflow-x: hidden;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: var(--background-color);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.menu-wrap {
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.logo {
    font-size: 2rem;
    font-weight: 800;
    color: var(--primary-color);
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-item {
    margin-left: 1rem;
    padding: .5rem 1.5rem;
    font-weight: 600;
    color: var(--grey);
    transition: .5s ease-in-out;
    cursor: pointer;
}

.menu-item:hover,
.menu-item.active {
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 1rem;
}

.cart-btn {
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    font-size: 2rem;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.cart-btn:hover {
    background-color: var(--primary-color);
    color: var(--white);
    border-radius: 1rem;
}

.fullheight {
    height: 100vh;
}

.align-items-center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Login Form */


#loginForm {
    max-width: 400px;
    margin: 8rem auto;
    padding: 20px; 
    background-color: whitesmoke;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box; 
}

/* Form inputs */
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 10px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
}

/* CAPTCHA image */
#captcha {
    display: block;
    margin-top: 10px;
}

/* Submit button */
.btn-primary {
    display: block;
    width: 100%;
    padding: 12px; 
    background-color: var(--background-color);
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: var(--primary-color);
}

.mt-3 {
    margin-top: 1rem;
    font-size: 1rem;
    color: #666;
    text-align: center;
}

.mt-3 a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
}

.mt-3 a:hover {
    color: var(--primary-color);
    text-decoration: underline;
}
